.node {
    cursor: pointer;
}

.node circle {
    stroke: gray;
    stroke-width: 1.5px;
}

.node circle.supporting{
    stroke: #3b90f1;
}
.node circle.disproving{
    stroke: red;
}
.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
